* {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 10px 0px;
  background: rgb(55, 51, 51);
  color: white;
}

header h1, header input {
  margin: 10px 10px;
  text-align: center;
}

input[type="search"] {
  height: 30px;
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background: url('weather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#weather-location {
  margin: 20px 0px 20px 30px;
}

.forecast {
  display: flex;
  flex: 0;
  gap: 50px;
  height: 100%;
}

.hourly-forecast, .current-forecast, .daily-forecast {
  border-radius: 20px;
  gap: 2px;
}

.hourly-container {
  width: auto;
  overflow-x: hidden;
}

.current-forecast, .daily-forecast, .hourly-forecast {
  display: flex;
  flex: 0;
  max-width: fit-content;
  overflow-x: auto;
}

.temp-uom {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  background: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgb(140, 209, 255);
}

.temp-uom button {
  height: 20px;
  width: 50px;
  background: rgb(228, 221, 221);
  border: none;
  border-radius: 20px;
}

h2 {
  margin-bottom: 20px;
}

.hourly-container, .current-container, .weekly-container {
  align-items: center;
  border-radius: 20px;
  height: 100%;
  padding: 30px;
}

.day-forecast {
  padding: 10px;
  color: #dbd7c8;
  background: rgb(23 38 66 / 75%);
}

.weather-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 160px;
  padding: 5px 0px;
}

.temp-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp-summary img {
  height: 50px;
}

.date {
  font-size: 15px;;
}

.temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp p {
  position: relative;
  bottom: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.feels-like, .condition {
  font-size: 13px;
}

.active {
  box-shadow: 0px 0px 4px 2px rgb(0, 166, 255);
  transform: scale(1.01);
}

@media (max-width: 1200px) {
  body {
    flex-direction: column;
  }

  header{
    padding: 20px 0px;
    gap: 0px;
  }

  header h1 {
    margin: 0px;
  }

  #weather-location {
    text-align: center;
  }

  main {
    height: 100%;
    width: 100%;
  }

  .forecast {
    flex-direction: column;
  }

  .hourly-container, .current-container {
    padding: 0px 30px;
    height: auto;
  }

  .current-container {
    width: 220px;
  }
}